
<%- include('../layouts/adminheader') %>

<h3 class="page-title">Categories</h3>
<a href="/admin/categories/add_category" class="btn btn-primary">Add a new category</a>
<br><br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr> 
    </thead>
    <tbody>
        <% categories.forEach(function(cat){ %> <!--Same as categories.forEach(function(category))-->
            <tr>
                <td><%= cat.title %></td>
                <td><a href="/admin/categories/edit_category/<%= cat._id %>">Edit</a></td>
                <td><a class="confirmDeletion" href="/admin/categories/delete_category/<%= cat._id %>">Delete</a></td>   
            </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../layouts/adminfooter') %> 